
:root {
	--text-color: rgb(255, 255, 255);
}

:root {
	color:var(--text-color);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(25, 0, 255);
}

header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.ahoj {
	height: auto;
	width: 500px;
	display:flex;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);

}

h1 {
  margin: 0;
  font-size: 28px;
}

main {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
}

p {
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

embed {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}

